.nav-link {
  color: white !important; 
  font-weight: bold;
  text-decoration: none; 
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link:hover {
  color: white !important; 
}

.nav-link:hover::after {
  content: ""; /* Üres tartalom */
  position: absolute;
  bottom: 0; /* A csík alul jelenjen meg */
  left: 0;
  width: 100%; /* A csík legyen akkora, mint a link */
  height: 2px; /* A csík magassága */
  background-color: white; /* Fehér csík */
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  padding: 8px 12px;
  border: none;
  background-color: #e9ecef62;
  border-radius: 20px;
  font-size: 14px;
}

.search-input::placeholder {
  color: #ffffff; 
}


.search-button {
  background-color: #e9ecef62;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15px;
}

.search-button:hover {
  background-color: #74bdc8;
  border-radius: 20px;
  color: white;
}

/* Reszponzív kialakítás mobilhoz */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .search-container {
    margin-left: 0;
    margin-top: 10px;
  }

  .search-input {
    width: 100%;
  }
}