.App {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
  font-family: 'Times New Roman', Times, serif;
  z-index: 2;
}

.App-header>h1 {
  margin: 10px;
}